
# ---- Terraform ----
# Ignore Terraform files in terraform directory
terraform/.terraform/
terraform/.terraform.lock.hcl
terraform/*.tfstate
terraform/*.tfstate.backup
terraform/*.tfvars

# Dependency directories
node_modules/